<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Smula</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <!-- Prism syntax highlighting -->
    <script src="/js/prism.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/prism.css" media="screen">
</head>
<body>
    <div class=container>
        <div class="row">
            <div class="column column-70 column-offset-15">
                <h1 style="text-align: center;">SMULA</h1>
            </div>
        </div>
        <div class="row">
            <div class="column column-70 column-offset-15">
                <a href="/about" class="button">About</a>
            </div>
        </div>
        <div class="row">
            <div class="column column-70 column-offset-15">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
